body {
  display: none;
  background-color: rgb(164, 145, 145);
}
.hidden {
  display: none;
}
#loginArea {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(164, 145, 145);
  padding: 23px;
  border-radius: 24px;
  border: 3.3px solid #5b4c4c;
  max-height: 67vh;
  max-width: 32vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  scrollbar-width: none;
}
#loginArea::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#almostArea {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#secondAlmostArea {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#thirdAlmostArea {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loginForm {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  box-sizing: border-box;
}
#loginForm input {
  background-color: transparent;
  outline: none;
}
#loginForm div {
  margin-bottom: 16px;
  width: 100%;
  height: 30%;
  text-align: center;
}
#loginForm button {
  background-color: #6a5e5e;
  color: rgb(191, 183, 183);
  padding: 5px 3px;
  line-height: 5px;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#loginForm div:first-child {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#loginArea input {
  border: 0.2px solid hsl(0, 9%, 33%);
  border-style: dashed;
  border-radius: 14px;
  box-sizing: border-box;
  padding-top: 4.4px;
  padding-bottom: 4.4px;
  margin-top: 1.4px;
  margin-bottom: 1.4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.9px;
  padding-left: 6.3px;
  padding-right: 6.3px;
}
#loginArea input::placeholder {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#passwordError {
  display: none;
  color: red;
  font-size: 0.8em;
  margin-top: 0.9px;
  margin-bottom: 0.9px;
}
#reEnterPasswordError {
  display: none;
  color: red;
  font-size: 0.8em;
  margin-top: 0.9px;
  margin-bottom: 0.9px;
}
